@font-face {
    font-family: 'Space Mono';
    src: url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
}

:root {
    --background: #f6f6e5;
    --black: #1c1c20;
    --1950: #E4160D;
    --2015: #177A7D;
    --2020: #3c6135;
    --2035: #e06c2e;
    --highlight: rgba(0,0,0,0.05);
}

body {
    font-family:Verdana, sans-serif;
    font-size: 14px;

    max-width: 560px;
    margin: 40px auto 40px auto;

    background-color: var(--background);
    color: var(--black);
    /* overflow-x: hidden; */
}

header {
    padding: 10px 10px 20px 10px;
    margin-bottom: 20px;
    background-color: var(--background);

    border-bottom: solid 1.5px var(--black);

    display: flex;
    justify-content: space-between;
    align-items:end;

    max-width: 100vw;

    position: sticky;
    top: 0;
    z-index: 1;
}

select {
    padding: 1px;
    max-width: 300px;
    background: none;
    border-radius: 4px;
}

select:hover {
    background-color: #f1f1f1;
}

svg {
    overflow: visible
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 12px;
    color: var(--black);
}

span {
    margin: 0 10px 0 0px;
}

#fifty {
    color: var(--1950);
}

#fifteen {
    color: var(--2015);
}

#twenty {
    color: var(--2020);
}

#future {
    color: var(--2035);
}

text {
    dominant-baseline: middle;
}

circle.fifty {
    fill: var(--1950)
}

circle.fifteen {
    fill: var(--2015)
}

circle.twenty {
    fill: var(--2020)
}

circle.future {
    stroke:  var(--2035);
    fill: none;

}

text.popLabel {
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.20s;
}

g:hover text.popLabel {
    opacity: 1;
}

rect.hoverRect {
    fill: rgba(37, 25, 25, 0.09);
    opacity: 0;
    transition: opacity 0.20s;
}

g:hover rect.hoverRect {
    opacity: 1;
}

path.red {
    fill: none;
    stroke: var(--1950);
    stroke-width: 1.5px;
}

path.blue {
    fill: none;
    stroke: var(--2015);
    stroke-width: 1.5px;
}

path.green {
    fill: none;
    stroke: var(--2020);
    stroke-width: 1.5px;
}

path.orange {
    fill: none;
    stroke: var(--2035);
    stroke-width: 1.5px;
    stroke-dasharray: 2;
}

.source {
    font-style: italic;
    padding: 10px;
    margin-top: 20px;
}

.source a {
    font-size: 12px;
    color: var(--black)
}

path.area {
    fill: rgba(253, 175, 92, 0.05);
}

line.gridLine {
    stroke-opacity: 20%;
    stroke-width: 1px;
    stroke: black;
    stroke-dasharray: 2;
}

@media (max-width: 660px) {
    body {
        margin: 20px auto 20px auto;
    }

    form {
        margin-top: 8px;
    }

    h1 {
        font-size: 16px;
    }

    header {
        display: block;
        padding: 14px;
    }

    /* no hover labels for mobile */
    g:hover text.popLabel {
        opacity: 0;
    }
}

